
:root {
  --light: #BEE5D3;
  --dark:#5B5E83;
  --navlink-color: #3B5360;
 
} 

body {
 
  line-height: 1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  background-color:#FFF9AF;
  background-image: linear-gradient(#faf9f2,#fff9AF)
}
h1 {
  font-size: 400%;
}

header {
  position:sticky;
  align-items: space-around;
  padding: 1%;
  background-color: var(--light);
  color: var(--dark);
  text-decoration: none;
}
 /*done above here, don't mess with it */
 .container {
  display: grid;
  grid-template-columns: 25%, 25%, 25%, 25%;
  grid-template-rows: 25%, 25%, 25%, 25%;
  column-gap: 10px;
  row-gap: 5px;
}

h2 {
  margin: 50px;
  text-align:center;
  font-size: 150%;
  border-width: 15px;
}

.box {
  display:grid;
  grid-column-start: 1;
  grid-column-end:span 4fr;
  grid-row: 50%;
  border-style:ridge;
  border-color:var(--dark);
  border-width: 25px;
  background-image: url("back.jpg");
  background-size: cover;
}

.box2 {
  text-align: center;
  justify-content: center;
  border-style:ridge;
  border-color:var(--dark);
  border-width: 10px;
  background-image: url("back.jpg");
  background-size: cover;
}

.box3 {
  text-align: center;
  justify-content: center;
  border-style:ridge;
  border-color:var(--dark);
  border-width: 15px;
  background-image: url("back.jpg");
  background-size: cover;
}

/* this is done dont touch!*/
footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: var(--dark);
  color: var(--light);
}




